{% extends "base.html" %}
{% load static %}

{% block contactsactive %}active{% endblock contactsactive %}
{% block title %}Contact me{% endblock title %}


{% block body %}
		
<div class="container my-4">
	<h2 class="text-center">Contact me</h2>
	<form action="/contacts" method="post">
		{% csrf_token %}
	<div class="mb-3"> 
	<label for="Name" class="form-label">Name</label>
	<input type="text" class="form-control" id="Name" name="name" placeholder="Your name">
	</div>
	<div class="mb-3 ">
	<label for="Email" class="form-label">Email address</label>
	<input type="email" class="form-control" id="Email" name="email" placeholder="name@example.com">
	</div>
	<div class="mb-3">
	<label for="Phone" class="form-label">Phone number</label>
	<input type="phone" class="form-control" id="Phone" name="phone" placeholder="Your phone number">
	</div>

	<div class="mb-3">
	<label for="exampleFormControlTextarea1" class="form-label">Tell me</label>
	<textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="5"></textarea>
	</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


{% endblock body %}
